﻿doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
      link(rel='apple-touch-icon' sizes='180x180' href='/images/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png')
      link(rel='mask-icon' href='/images/safari-pinned-tab.svg' color='#5bbad5')
      meta(name='msapplication-TileColor' content='#da532c')
      meta(name='theme-color' content='#ffffff')
      link(rel='stylesheet' href='/assets/css/main.css')
      noscript
        link(rel='stylesheet' href='/assets/css/noscript.css')
  body
    block body
    #wrapper
      header#header
        .inner
          a.logo(href='/')
            span.symbol
              img(src='/images/logo.svg' alt='tsvk.live')
      block content
      block footer
    block scripts
      script(src='/assets/js/jquery.min.js')
      script(src='/assets/js/browser.min.js')
      script(src='/assets/js/breakpoints.min.js')
      script(src='/assets/js/util.js')
      script(src='/assets/js/main.js')